<template>
  <div id="code_edit">
    {{part}}
  </div>
</template>
<style type="text/css">
#code_edit {
  width: 40vw;
  height: 95vh;
  /* border-style: solid;
*/
  float: left;
}


</style>
<script>
export default {
  id: 'code_edit',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {
      part: ''
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      var urlpathjson = this.$cookies.get('urlpathjson');
      var json = ('http://140.125.90.229:8888/course/' + urlpathjson);
      this.$http.get(json).then(response => {
        // get body data
        this.jsondata = response.data;
        this.part = this.jsondata[0].part;

        // this.description = this.RemoveHTML(this.description);
      }, response => {
        alert("no data");
      });
    })
  },
  methods: {
    RemoveHTML: function(strText) {     
      var regEx = /<(?!img|br|p).*?>/gi;     
      return strText.replace(regEx, ""); 
    }
  }
}

</script>