<style type="text/css">
#navl {
  float: left;
  margin-left: 10vw;
}

#navr {
  float: right;
  margin-right: 10vw;
}

.navall {
  width: 100vw;
  height: 5vh;
}

</style>
<template>
  <div class="navall">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid bar">
        <ul class="nav navbar-nav" id="navl">
          <li><a href="#">{{name}}</a></li>
          <li><a href="#">執行 <span class="glyphicon glyphicon-play"></span></a></li>
          <li><a href="#">重設此題</a></li>
          <li><a href="#">Input <span class="glyphicon glyphicon-triangle-bottom"></span></a></li>
        </ul>
        <ul class="nav navbar-nav" id="navr">
          <li><a href="#"><span class="glyphicon glyphicon-arrow-left"></span> 上一題</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-list"></span> 題目清單</a></li>
          <li><a href="#">下一題 <span class="glyphicon glyphicon-arrow-right"></span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: 'bar',
  /* eslint-disable */
  //忽略所有警告
  data() {
    return {
      name: ''
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      var urlpath = this.$cookies.get('urlpath');
      var class_id = this.$cookies.get('class_id');
      var language = this.$cookies.get('language');
      var user_id = this.$cookies.get('user_id');
      var user_name = this.$cookies.get('user_name');
      this.name = user_name;

    })
  }
}

</script>
